.experiencia {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}

.subtitulo {
  font-size: 8rem;
  line-height: 1;
  word-break: break-all;
  text-transform: uppercase;
  max-width: 4ch;
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 8px;
}

.experiencia .subtitulo {
  color: #e0e0e0;
}

.experiencia-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 40ch;
  margin-bottom: 60px;
  color: #525252;
}
.experiencia-texto strong {
  color: #141414;
}

.empresa {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 20px;
  padding: 20px;
  background-color: #f5f5f5;
  margin-bottom: 20px;
  border-radius: 4px;
  position: relative;
}

.empresa::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  background-color: #f42b5d;
  border-radius: 4px 0 0 4px;
}

.empresa-ano {
  position: absolute;
  width: 80px;
  text-align: right;
  top: 23px;
  left: -100px;
  color: #525252;
  font-size: 0.875rem;
}

.empresa-titulo {
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: bold;
  color: #141414;
}
.empresa-texto {
  font-size: 0.875rem;
  line-height: 1.5;
  color: #525252;
  margin-top: 8px;
}

.empresa-habilidades {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;
}

.empresa-habilidades li {
  background-color: #e0e0e0;
  color: #141414;
  font-size: 0.875rem;
  line-height: 1.4;
  padding: 5px 10px;
  border-radius: 4px;
  background: #ffffff;
}

@media (max-width: 768px) {
  .experiencia {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .experiencia .subtitulo {
    color: #141414;
    font-size: 3rem;
    max-width: initial;
  }
  .experiencia-texto {
    font-size: 1.25rem;
  }

  .empresa-ano {
    position: initial;
    width: initial;
    text-align: left;
    order: 1;
    font-size: 1rem;
  }
}

@media (max-width: 400px) {
  .empresa {
    grid-template-columns: 1fr;
    padding: 15px;
  }

  .empresa-titulo {
    font-size: 1rem;
  }

  .empresa-texto {
    font-size: 0.875rem;
  }

  .empresa-habilidades li {
    font-size: 0.75rem;
    padding: 4px 8px;
  }
}
